.clay1{
    position: absolute;
    top: -200%;
    left: 14%;
    width: 33%;
    
}
.clay2{
    position: absolute;
    top: 55px;
    left: 560px;
    width: 230;
    display: inline-block;
    vertical-align: middle;
}
.clay3{
    position: absolute;
    top: 195px;
    left: 570px;
    width: 230;
    display: inline-block;
    vertical-align: middle;
}
.clay4{
    position: absolute;
    top: 345px;
    left: 380px;
    width: 325;
    display: inline-block;
    vertical-align: middle;
}
.clay5{
    position: absolute;
    top: 325px;
    left: 70px;
    width: 360;
    display: inline-block;
    vertical-align: middle;
}
.clay6{
    position: absolute;
    top: 185px;
    left: 5px;
    width: 215;
    display: inline-block;
    vertical-align: middle;
}
.clay7{
    position: absolute;
    top: 60px;
    left: 15px;
    width: 260;
    display: inline-block;
    vertical-align: middle;
}
.clay8{
    position: absolute;
    top: -6px;
    left: 187px;
    width: 230;
    display: inline-block;
    vertical-align: middle;
}
.clay9{
    position: absolute;
    top: 65px;
    left: 375px;
    width: 195;
    display: inline-block;
    vertical-align: middle;
}
.clay10{
    position: absolute;
    top: 110px;
    left: 450px;
    width: 250;
    display: inline-block;
    vertical-align: middle;
}
.clay11{
    position: absolute;
    top: 185px;
    left: 440px;
    width: 250;
    display: inline-block;
    vertical-align: middle;
}
.clay12{
    position: absolute;
    top: 255px;
    left: 380px;
    width: 200;
    display: inline-block;
    vertical-align: middle;
}
.clay13{
    position: absolute;
    top: 240px;
    left: 185px;
    width: 230;
    display: inline-block;
    vertical-align: middle;
}
.clay14{
    position: absolute;
    top: 201px;
    left: 115px;
    width: 230;
    display: inline-block;
    vertical-align: middle;
}
.clay15{
    position: absolute;
    top: 96px;
    left: 115px;
    width: 235;
    display: inline-block;
    vertical-align: middle;
}
.clay16{
    position: absolute;
    top: 85px;
    left: 250px;
    width: 170;
    display: inline-block;
    vertical-align: middle;
}