.clay1{
    position: absolute;
    top: -4%;
    left: 47%;
    width: 35%;
    
}
.clay2{
    position: absolute;
    top: 7.5%;
    left: 70.5%;
    width: 30%;

}
.clay3{
    position: absolute;
    top: 33%;
    left: 71.5%;
    width: 31%;
    
}
.clay4{
    position: absolute;
    top: 63%;
    left: 47%;
    width: 43%;
   
}
.clay5{
    position: absolute;
    top: 59%;
    left: 6%;
    width: 48%;
}
.clay6{
    position: absolute;
    top: 34%;
    left: -1%;
    width: 27%;
}
.clay7{
    position: absolute;
    top: 8%;
    left: 0%;
    width: 34%;
    
}
.clay8{
    position: absolute;
    top: -4%;
    left: 23%;
    width: 29%;
   
}
.clay9{
    position: absolute;
    top: 10%;
    left: 46.5%;
    width: 25%;
    
}
.clay10{
    position: absolute;
    top: 18.5%;
    left: 57%;
    width: 31%;
   
}
.clay11{
    position: absolute;
    top: 32.5%;
    left: 56.5%;
    width: 31%;
    
}
.clay12{
    position: absolute;
    top: 46%;
    left: 48%;
    width: 26%;
    
}
.clay13{
    position: absolute;
    top: 43%;
    left: 22%;
    width: 30%;
    
}
.clay14{
    position: absolute;
    top: 36%;
    left: 13%;
    width: 29%;
}
.clay15{
    position: absolute;
    top: 16%;
    left: 14%;
    width: 30%;
}
.clay16{
    position: absolute;
    top: 13.5%;
    left: 31%;
    width: 21.5%;
}