.crop1{
    position: absolute;
    top: -1.8%;
    left: 46.5%;
    width: 35%;
    
}
.crop2{
    position: absolute;
    top: 9%;
    left: 69%;
    width: 30%;

}
.crop3{
    position: absolute;
    top: 33%;
    left: 70%;
    width: 31%;
    
}
.crop4{
    position: absolute;
    top: 63.2%;
    left: 46.5%;
    width: 43%;
   
}
.crop5{
    position: absolute;
    top: 54.5%;
    left: 6%;
    width: 48%;
}
.crop6{
    position: absolute;
    top: 36.2%;
    left: -2.5%;
    width: 27%;
}
.crop7{
    position: absolute;
    top: 6.5%;
    left: 0%;
    width: 34%;
    
}
.crop8{
    position: absolute;
    top: -1.7%;
    left: 23.2%;
    width: 29%;
   
}
.crop9{
    position: absolute;
    top: 11%;
    left: 47%;
    width: 25%;
    
}
.crop10{
    position: absolute;
    top: 17%;
    left: 56.5%;
    width: 31%;
   
}
.crop11{
    position: absolute;
    top: 33.5%;
    left: 54.5%;
    width: 31%;
    
}
.crop12{
    position: absolute;
    top: 50.5%;
    left: 47.4%;
    width: 26%;
    
}
.crop13{
    position: absolute;
    top: 44%;
    left: 22.4%;
    width: 30%;
    
}
.crop14{
    position: absolute;
    top: 37%;
    left: 13%;
    width: 29%;
}
.crop15{
    position: absolute;
    top: 15.8%;
    left: 13.8%;
    width: 30%;
}
.crop16{
    position: absolute;
    top: 10.5%;
    left: 31%;
    width: 21.5%;
}