.row-centered {
    text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    padding-top: 20px;
}

body  {
  background-image: url("picture/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
    width: 251px;
    height: 201px;
}


nav ul li {
		display: inline-block;
		list-style-type: none;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s; 
	}
nav > ul > li > a {
			color: red;
			display: block;
			line-height: 56px;
			padding: 0 54px;
			text-decoration: none;
}

.menu {
    max-width: 100px;
    height: auto
}

img {
    width:100%;
    height:auto;
}

#resource_container{
    position: relative;
    height: 700px;
}

.village{
    left: 50%;
    top: 50%;
    
    position: absolute;
}

.Centerer
{
    display: inline-block;
    height: 15%;
    vertical-align: middle;
}

.village img{
    max-width: 100%;
    max-height: 100%; 
    margin-left: -50%;
    margin-top: -50%;
    display: inline-block;
    vertical-align: middle;
}


    
}


