.row-centered {
    text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    padding-top: 20px;
}

body  {
  background-image: url("picture/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

nav ul li {
		display: inline-block;
	}

.menu {
    width: 100%;
    height: 100%;
}

.menu-frame{
    position: relative;
    height: 15%;
}

.menu_img {
    height:100%;
    max-width: 100%;
}

.menu-li{
   height: 100%;
   width: 10%;
}

.menu {
    max-width: 100px;
    height: auto
}

img {
    width:100%;
    height:auto;
}

.Centerer
{
    display: inline-block;
    height: 20%;
    vertical-align: middle;
}
   
.modal-body{
  
}

.modal-header{
    
}

.modal-footer{
    
}

.menu-padding{
    height: 10%;
}

.stockbar{
    height: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: 2px solid #000;
}


