.row-centered {
    text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    padding-top: 20px;
}

body  {
  background-image: url("picture/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
    width: 251px;
    height: 201px;
}
