input[type="text"] 
{
    width: 20%;
    border: 1px solid #CCC;
}

.padtop{
    height: 10px;
}

.cordinate-btn{
    padding-left: 30px;
}

.col-cordinates{
    display: flex;
}

.cordinate-text{
    font-size: 25px;
    padding-left: 30px;
    padding-right: 10px
}

.map-center
{
    display: inline-block;
    height: 10%;
    vertical-align: middle;
}
.map{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 60%;
}
div.arrow1 {
    position: absolute;
    background-color: red;
    width: 5%;
    height: 10%;
    left: 2%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.arrow2 {
    position: absolute;
    background-color: red;
    width: 10%;
    height: 5%;
    left: 45%;
    top: 2%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.arrow3 {
    position: absolute;
    background-color: red;
    width: 5%;
    height: 10%;
    left: 93%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.arrow4 {
    position: absolute;
    background-color: red;
    width: 10%;
    height: 5%;
    left: 45%;
    top: 93%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.posY1 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 5%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY2 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 15%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY3 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 25%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY4 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 35%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY5 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 45%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY6 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 55%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY7 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 65%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY8 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 75%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posY9 {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 10%;
    left: 0%;
    top: 85%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX1 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 5%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX2 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 15%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX3 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 25%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX4 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 35%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX5 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 45%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX6 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 55%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX7 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 65%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX8 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 75%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.posX9 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 85%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}
div.free {
    position: absolute;
    background-color: white;
    width: 5%;
    height: 5%;
    left: 0%;
    top: 95%;
    border-style: solid;
    border-width: 1% 1% 1% 1%;
}

div.box1 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.box2 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box3 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box4 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box5 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box6 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box7 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box8 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box9 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 5%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.box10 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box11 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box12 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box13 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box14 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box15 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box16 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box17 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box18 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 15%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box19 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box20 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box21 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box22 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box23 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box24 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box25 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box26 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box27 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 25%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box28 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box29 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box30 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box31 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box32 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box33 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box34 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box35 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box36 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 35%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.box37 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box38 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box39 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box40 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box41 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box42 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box43 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box44 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box45 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 45%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.box46 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box47 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box48 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box49 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box50 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box51 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box52 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box53 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box54 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 55%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.box55 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box56 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box57 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box58 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box59 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box60 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box61 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box62 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box63 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 65%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.box64 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box65 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box66 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box67 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box68 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box69 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box70 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box71 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box72 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 75%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}
div.box73 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 5%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box74 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 15%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box75 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 25%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box76 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 35%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box77 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box78 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 55%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box79 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 65%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box80 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 75%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
}
div.box81 {
    position: absolute;
    background-color: green;
    width: 10%;
    height: 10%;
    left: 85%;
    top: 85%;
    border-style: groove;
    border-width: 1% 1% 1% 1%;
    /* Border widths: Top.px Right.px Bottom.px Left.px */
}



