#resource_container {
    position: relative;
    height: 700px;
}

.resoucre {
    margin-left: auto;
    margin-right: 100%;
    width: 70%;
    position: relative;
}

#produce_container {
    position: absolute;
    top: 20%;
    left: 73%;
    width: 25%;
    border: 2px solid #000;
    border-radius: 10px;
    height: 25%;
    background-color: aquamarine;
}

.paddingrow {
    padding-left: 0%;
    
    font-size: 18px;
}

.toTop {
    margin-top: -20%;
    height: 20%;
    top:20%;
    
}

.jumbotronwidth{
    max-width:100%;
}

.titlerow{
    font-size: 18px;
    font-weight: bold;
}
