.row-centered {
    text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    padding-top: 20px;
}

body  {
  background-image: url("picture/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

nav ul li {
		display: inline-block;
		list-style-type: none;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s; 
	}

.menu {
    width: 100%;
    height: 100%;
}

.menu-frame{
    position: relative;
    height: 15%;
}

.menu_img {
    height:100%;
    max-width: 100%;
}

li{
   height: 100%;
   width: 10%;
}

.menu {
    max-width: 100px;
    height: auto
}

img {
    width:100%;
    height:auto;
}

#resource_container{
    position: relative;
    height: 700px;
}

.resoucre{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}

.Centerer
{
    display: inline-block;
    height: 20%;
    vertical-align: middle;
}



    
}


