.clay1 {
    content: url(picture/resource/clay1.png);
    position: absolute;
    top: -4%;
    left: 47%;
    width: 35%;
}

.clay2 {
    content: url(picture/resource/clay2.png);
    position: absolute;
    top: 7.5%;
    left: 70.5%;
    width: 30%;
}

.clay3 {
    content: url(picture/resource/clay3.png);
    position: absolute;
    top: 33%;
    left: 71.5%;
    width: 31%;
}

.clay4 {
    content: url(picture/resource/clay4.png);
    position: absolute;
    top: 63%;
    left: 47%;
    width: 43%;
}

.clay5 {
    content: url(picture/resource/clay5.png);
    position: absolute;
    top: 59%;
    left: 6%;
    width: 48%;
}

.clay6 {
    content: url(picture/resource/clay6.png);
    position: absolute;
    top: 34%;
    left: -1%;
    width: 27%;
}

.clay7 {
    content: url(picture/resource/clay7.png);
    position: absolute;
    top: 8%;
    left: 0%;
    width: 34%;
}

.clay8 {
    content: url(picture/resource/clay8.png);
    position: absolute;
    top: -4%;
    left: 23%;
    width: 29%;
}

.clay9 {
    content: url(picture/resource/clay9.png);
    position: absolute;
    top: 10%;
    left: 46.5%;
    width: 25%;
}

.clay10 {
    content: url(picture/resource/clay10.png);
    position: absolute;
    top: 18.5%;
    left: 57%;
    width: 31%;
}

.clay11 {
    content: url(picture/resource/clay11.png);
    position: absolute;
    top: 32.5%;
    left: 56.5%;
    width: 31%;
}

.clay12 {
    content: url(picture/resource/clay12.png);
    position: absolute;
    top: 46%;
    left: 48%;
    width: 26%;
}

.clay13 {
    content: url(picture/resource/clay13.png);
    position: absolute;
    top: 43%;
    left: 22%;
    width: 30%;
}

.clay14 {
    content: url(picture/resource/clay14.png);
    position: absolute;
    top: 36%;
    left: 13%;
    width: 29%;
}

.clay15 {
    content: url(picture/resource/clay15.png);
    position: absolute;
    top: 16%;
    left: 14%;
    width: 30%;
}

.clay16 {
    content: url(picture/resource/clay16.png);
    position: absolute;
    top: 13.5%;
    left: 31%;
    width: 21.5%;
}