.iron1 {
    content: url(picture/resource/iron1.png);
    position: absolute;
    top: -19%;
    left: 40%;
    width: 45%;
}

.iron2 {
    content: url(picture/resource/iron2.png);
    position: absolute;
    top: -3%;
    left: 70%;
    width: 40%;
}

.iron3 {
    content: url(picture/resource/iron3.png);
    position: absolute;
    top: 30%;
    left: 70%;
    width: 45%;
}

.iron4 {
    content: url(picture/resource/iron4.png);
    position: absolute;
    top: 54%;
    left: 40%;
    width: 50%;
}

.iron5 {
    content: url(picture/resource/iron5.png);
    position: absolute;
    top: 46%;
    left: 8%;
    width: 52%;
}

.iron6 {
    content: url(picture/resource/iron6.png);
    position: absolute;
    top: 19%;
    left: -7%;
    width: 33%;
}

.iron7 {
    content: url(picture/resource/iron7.png);
    position: absolute;
    top: -6%;
    left: -3%;
    width: 35%;
}

.iron8 {
    content: url(picture/resource/iron8.png);
    position: absolute;
    top: -20%;
    left: 19%;
    width: 40%;
}

.iron9 {
    content: url(picture/resource/iron9.png);
    position: absolute;
    top: 9%;
    left: 48%;
    width: 24%;
}

.iron10 {
    content: url(picture/resource/iron10.png);
    position: absolute;
    top: 17%;
    left: 56%;
    width: 33%;
}

.iron11 {
    content: url(picture/resource/iron11.png);
    position: absolute;
    top: 37%;
    left: 55.5%;
    width: 33%;
}

.iron12 {
    content: url(picture/resource/iron12.png);
    position: absolute;
    top: 44%;
    left: 47.8%;
    width: 26%;
}

.iron13 {
    content: url(picture/resource/iron13.png);
    position: absolute;
    top: 40.8%;
    left: 22%;
    width: 30%;
}

.iron14 {
    content: url(picture/resource/iron14.png);
    position: absolute;
    top: 32%;
    left: 11.5%;
    width: 35%;
}

.iron15 {
    content: url(picture/resource/iron15.png);
    position: absolute;
    top: 11%;
    left: 15%;
    width: 33%;
}

.iron16 {
    content: url(picture/resource/iron16.png);
    position: absolute;
    top: 8%;
    left: 32%;
    width: 22%;
}